<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Woda</title>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />

        <style>
            html, body {
                height: 100%;
            }

            body {
                background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/debut_dark.png);
            }

            #content {
                background: #ffffff;
                border-left: 1px solid #000000;
                border-right: 1px solid #000000;
                min-height: 100%;
            }

            #content .inner {
                padding: 30px;
                padding-top: 75px;
            }

            #search {
                float: left;
                margin: 5px 0px;
            }

            #footer .container div {
                padding: 0 5px; 
            }

            #footer .container div a {
               font-size: 12px; 
               color: #AAA;
               background-color: transparent;
               text-decoration: none;
            }
        </style>
        <style>
            {% block style %}
            {% endblock %}
        </style>
    </head>
    <body>
        <div cla class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                <a class="brand" href="{{ path('WodaContentBundle.Content.index') }}">Woda</a>
                    <ul class="nav pull-left">
                        <li><a href="{{ path('WodaContentBundle.Content.team') }}">L'équipe</a></li>
                    </ul>
                    <form id="search" class="form-search" action="{{ path('WodaSearchBundle.Search.result', { 'type' : 'file' }) }}" method="post">
                        <div class="input-append">
                            <input type="text" name="query" class="span2 search-query" placeholder="Fichiers, Utilisateurs, ...">
                            <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i> Rechercher</button>
                        </div>
                    </form>
                    <ul class="nav pull-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('WodaAdminBundle.Default.index') }}">Administration</a></li>
                            {% endif %}
                            <li><a href="{{ path('WodaFSBundle.Default.list') }}">Mon dossier</a></li>
                            <li><a href="{{ path('WodaUserBundle.Account.index') }}">Profil</a></li>
                            <li><a href="{{ path('WodaUserBundle.Security.logout') }}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('WodaUserBundle.Security.login') }}">Connexion</a></li>
                            <li><a href="{{ path('WodaUserBundle.Register.index') }}">Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="content" class="container">
            <div class="inner">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <div class="pull-left">
                    <a href="{{ path('WodaContentBundle.Content.team') }}">L'équipe</a>
                </div>
                <div class="pull-right">
                    <a href="{{ path('WodaContentBundle.Content.contact') }}">Nous contacter</a>
                </div>
            </div>
        </div>
    </body>
</html>
