<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} Woda</title>
        <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/wodaui/css/style.css') }}" />
        <style>
            {% block style %}
            {% endblock %}
        </style>
    </head>
    <body>
        <div id="left"></div>
        <div id="right"></div>
        <div id="page" class="container">
            <div class="row-fluid col-wrap">
                <div id="logo" class="span3 col">
                    <a class="brand" href="{{ path('WodaFSBundle.Default.list') }}">
                        <img src="{{ asset('bundles/wodaui/img/logo.png') }}" alt="logo" width="80px" />
                    </a>
                </div>
                <div id="header" class="span9 col">
                    <div class="row-fluid">
                        <div id="searchbar" class="span5">
                            <form class="form-search" action="{{ path('WodaSearchBundle.Search.result', { 'length' : 20, 'offset' : 0 }) }}" method="post">
                                <div class="input-append">
                                    <input type="text" name="query" placeholder="Documents, Musics, Movies, Users, ...">
                                    <button type="submit" class="btn btn-info"><i class="icon-search icon-white"></i></button>
                                </div>
                            </form>
                        </div>
                        <div id="user" class="span2 offset3">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('WodaUserBundle.Account.index') }}"><b>{% render 'WodaUIBundle:Helper:getUserName' %}</b></a>
                                <a href="{{ path('WodaUserBundle.Account.index') }}"><img src="{{ asset('bundles/wodaui/img/icons/setting-32.png') }}" width="16px" height="16px" alt="account settings"/></a>
                                <a href="{{ path('WodaUserBundle.Security.logout') }}"><img src="{{ asset('bundles/wodaui/img/icons/logout-32.png') }}" width="16px" height="16px" alt="logout"/></a>
                            {% else %}
                                <!--
                                <a href="{{ path('WodaUserBundle.Security.login') }}">Connexion</a>
                                <a href="{{ path('WodaUserBundle.Register.index') }}">Inscription</a>
                                -->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid" id="jsrow">
                <div id="menu" class="span2 offset1">
                    <ul class="nav nav-pills nav-stacked" id="sub-menu">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('WodaAdminBundle.Default.index') }}">
                                    <img src="{{ asset('bundles/wodaui/img/icons/admin-32.png') }}" alt="admin" width="16px" height="16px" />
                                    <span>Admin</span>
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('WodaFSBundle.Default.list') }}">
                                <img src="{{ asset('bundles/wodaui/img/icons/home-32.png') }}" alt="home" width="16px" height="16px" />
                                <span>Home</span>
                            </a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li>
                                <a href="{{ path('WodaFSBundle.Default.starred') }}">
                                    <img src="{{ asset('bundles/wodaui/img/icons/starred-32.png') }}" alt="starred" width="16px" height="16px" />
                                    <span>Starred</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('WodaFSBundle.Default.recent') }}">
                                    <img src="{{ asset('bundles/wodaui/img/icons/recent-32.png') }}" alt="recent" width="16px" height="16px" />
                                    <span>Recent</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('WodaFSBundle.Default.links') }}">
                                    <img src="{{ asset('bundles/wodaui/img/icons/link-32.png') }}" alt="recent" width="16px" height="16px" />
                                    <span>Links</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('WodaFSBundle.Default.sharing') }}">
                                    <img src="{{ asset('bundles/wodaui/img/icons/sharing-32.png') }}" alt="public" width="16px" height="16px" />
                                    <span>Public</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('WodaUserBundle.Friends.list') }}">
                                    <img src="{{ asset('bundles/wodaui/img/icons/friends-32.png') }}" alt="sharing" width="16px" height="16px" />
                                    <span>Friends</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    {% block leftpannel %}
                    {% endblock %}
                    <!-- <div id="menu-separator">&nbsp;</div> -->
                </div>
                <div id="content" class="span9">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>

    </body>
</html>
