{% extends "WodaUIBundle::layout.html.twig" %}

{# TODO : CHECK ON ADD FILE/FOLDER for operations links #}

{% block content %}

  {% block header %}
  {% endblock %}

{% javascripts '@WodaFSBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

  <script type="text/javascript">
    $(document).ready(function(){

      function bytesToSize(bytes) {
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes == 0) return '0 Bytes';
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
      };

      $('#fileupload').fileupload({
        dataType: 'json',
        sequentialUploads: true
      }).bind('fileuploadadd', function (e, data) {
        //$('#upload-startinfo').hide();
        $.each(data.files, function(index, file){
          var tpl = $('.template-upload').first().clone();
          tpl.find('.name').html(file.name);
          tpl.find('.size').html(bytesToSize(file.size));
          tpl.appendTo('#uploadlist');
          tpl.removeClass('hidden');
          data.formData = {id: tpl.index(), path:'{{path}}'};
        });
      }).bind('fileuploadprogress', function (e, data) {
        if (data.lengthComputable)
        {
          var elem = $('.template-upload').get(data.formData.id);
          elem = $(elem);
          elem.find('.progress-status').css('width', (data.loaded * 100 / data.total) + '%');
        }
      }).bind('fileuploaddone', function (e, data) {
        var elem = $($('.template-upload').get(data.formData.id));
        if (data.result.files[0]['error'] != undefined)
          elem.find('.cancel')
            .addClass('disabled')
            .html('Upload failed');
        else {
          elem.find('.cancel')
            .removeClass('btn-danger')
            .addClass('btn-primary')
            .addClass('disabled')
            .html('Done');
          filetr = $('.filetr');
          data = data.result.files[0];
          var newfile = filetr.first().clone();
          newfile.find('.filename').html(data.name)
          newfile.find('.filedate').html(data.time);
          newfile.find('.dellink').attr('data-name', data.name)
                                  .attr('data-id', data.id);
          newfile.attr('id', "file-" + data.id);
          linkelem = newfile.find('.dllink');
          linkelem.attr('href', linkelem.attr('href').replace('0', data.id));
          filetr.last().after(newfile);
          newfile.show();
        }
      }).bind('fileuploadprogressall', function (e, data) {
        $('#progressall-status').css('width', (data.loaded * 100 / data.total) + '%');
      }).bind('fileuploadfail', function(e, data) {
        var elem = $($('.template-upload').get(data.formData.id));
        elem.find('.cancel')
            .addClass('disabled')
            .html('Upload failed');
      });

      $('#post-newfolder').click(function(){
        var foldername = $('#newfoldername-input').val();
        if (foldername != '')
        {
          var url = '{{ path('WodaFSBundle.Default.addFolder') }}';
          $.post(url,{fname:foldername,path:'{{ path }}'},
            function(data){
              if (data.responseCode == 200)
              {
                var folder = $('.foldertr').last();
                var newfolder = folder.clone();
                newfolder.find('.folderlink').attr('href', foldername).html(foldername);
                $('#modal-newfolder').modal('hide');
                folder.after(newfolder);
                newfolder.show();
              } else if (data.responseCode == 401) {
                $('#newfolder-errorexists').show();
              } else if (data.responseCode == 403) {
                $('#newfolder-forbidden').show();
              }
          });
        } else {
          $('#newfolder-errorempty').show();
        }
      });

      $('#modal-newfolder').on('hidden', function(){
        $('#newfoldername-input').val('');
        $('.newfolder-error').hide();
      });

      $('#modal-upload').on('hidden', function(){
        $('#listfiles').html('');
      });

      $('.flist').on('click', '.movelink', function(){
        $('#post-moveto').attr('data-id', $(this).attr('data-id'));
        $('#modal-moveto').modal('show');
      });

      $('#post-moveto').click(function (){
          var location = '{{ path('WodaFSBundle.Default.moveFile') }}?id=%ID&path=%TARGET'.replace('%ID', encodeURIComponent($(this).attr('data-id'))).replace('%TARGET', encodeURIComponent($('#moveto-target').val()));
          document.location = location;
      });

      $('.flist').on('click', '.dellink', function(){

        if ($(this).parent().parent().parent().hasClass('filetr'))
          $('.delete-type').html('file');
        else
          $('.delete-type').html('folder');
        $('#delete-name').html($(this).attr('data-name'));
        $('#delete-valid').attr('data-id', $(this).attr('data-id'));
        $('#modal-delete').modal('show');

      }).on('click', '.share-dlink', function(){

        $('#modal-dlink').modal('show');
        var id = $(this).parent().parent().attr('id').substr(5);
        var url = '{{ path('WodaFSBundle.Default.dLink', {"id": ''}) }}/' + id;
        console.log(url);
        $.getJSON(url, function(data){
            $('#dlink-loading').hide();
            var link = '{{ url('WodaFSBundle.Default.publicdl', {"id": ''}) }}/' + data.id;
            $('#dlink').html('<a href="'+link+'">'+link+'</a>').show();
        });
      });

      $('#delete-valid').on('click', function(){
        var id = $(this).attr('data-id');
        if ($('.delete-type').eq(0).html() == 'folder')
        {
          var url = "{{ path('WodaFSBundle.Default.deletefolder', {"id": 0}) }}";
          $('.folder-' + id).hide();
        }
        else
        {
          var url = "{{ path('WodaFSBundle.Default.delete', {"id": 0}) }}";
          $('#file-' + id).hide();
        }
        url = url.replace("0", id);
        $.getJSON(url, function(data) {
        });
        $('#file-' + id).hide();
        $('#modal-delete').modal('hide');
      });

      $('#fscontainer').on({
        mouseenter: function() {
          that = $(this);
          that.find('.nohover').hide();
          that.find('.filehover').show();
        },
        mouseleave: function(){
          that = $(this);
          that.find('.nohover').show();
          that.find('.filehover').hide();
        }}, '.filetr,.foldertr');

    });
  </script>

  {% if path is not null %}
  <div class="row-fluid">
    <div class="span9" style="margin-right:10px;">
      {% set curpath = '' %}
      <ul class="breadcrumb" style="position:relative;">
        <li><a href="{{ path('WodaFSBundle.Default.list') }}">Home</a>
        {% for folder in path|split('/') %}

           {% if folder != '' %}
            {% if loop.first == false %}
              {% set curpath = curpath ~ '/' %}
            {% endif %}
            {% set curpath = curpath ~ folder %}
             <span class="divider">/</span></li>
             {% if loop.index == (loop.length - 1) %}
              <li class="active">{{ folder }}
             {% else %}
              <li><a href="{{ path('WodaFSBundle.Default.list.param', { "path": curpath }) }}">{{ folder }}</a>
             {% endif %}
          {% endif %}
        {% endfor %}
        </li>

      </ul>

    </div>
    <div style="margin-top:2px"><a href="#modal-newfolder" role="button" class="btn btn-danger" data-toggle="modal"><i class="icon-folder-open icon-white"></i></a> <a href="#modal-upload" role="button" class="btn btn-danger" data-toggle="modal"><i class="icon-upload icon-white"></i></a></div>
  </div>
  {% endif %}
  <table class="table flist">
    <thead>
      <tr>
        <th>Files</th>
        <th style="text-align:right !important;padding-right: 20% !important;">Modified</th>
      </tr>
    </thead>
    <tbody id="fscontainer">

        <tr style="display:none;" class="foldertr">
          <td><i class="w-icon w-icon-folder"></i> <a class="folderlink" href=""></a></td>
          <td class="file-icons filehover" >
            <a href="#"><i class="w-icon w-icon-hover w-icon-download download"></i></a>
            <a href="{{ path('WodaFSBundle.Default.publicFolder', {"id": 0 }) }}"><i class="w-icon w-icon-hover w-icon-sharing"></i></a>
            <a href="#modal-dlink"><i class="w-icon w-icon-hover w-icon-shared share-dlink"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-friends"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-starred-empty"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-left"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-trash"></i></a>
          </td>
          <td class="nohover">{{ folder.lastModificationTime|date('d/m/Y H:i') }}</td>
        </tr>

      {% for folder in folders %}
        <tr class="foldertr folder-{{folder.id}}">
          <td><i class="w-icon w-icon-folder"></i> <a class="folderlink" href="{{ folder.name | url_encode(true) }}/">{{ folder.name }}</a></td>
          <td class="file-icons filehover" >
            <a href="#"><i class="w-icon w-icon-hover w-icon-download download"></i></a>
            <a href="{{ path('WodaFSBundle.Default.publicFolder', {"id": folder.id}) }}"><i class="w-icon w-icon-hover w-icon-sharing"></i></a>
            <a href="#modal-dlink"><i class="w-icon w-icon-hover w-icon-shared share-dlink"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-friends"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-starred-empty"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-left"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-trash"></i></a>
          </td>
          <td class="nohover">{{ folder.lastModificationTime|date('d/m/Y H:i') }}</td>
        </tr>
      {% endfor %}

      <tr style="display:none;" class="filetr">
        <td>
            <i class="w-icon w-icon-file"></i> <span class="filename"></span>
        </td>
        <td class="file-icons filehover" >
          <a href="{{ path('WodaFSBundle.Default.download', {"id": 0 }) }}" class="dllink"><i class="w-icon w-icon-hover w-icon-download download"></i></a>
          <a href="{{ path('WodaFSBundle.Default.public', {"id": 0 }) }}"><i class="w-icon w-icon-hover w-icon-sharing"></i></a>
          <a href="#modal-dlink"><i class="w-icon w-icon-hover w-icon-shared share-dlink"></i></a>
          <a href="#"><i class="w-icon w-icon-hover w-icon-friends"></i></a>
          <a href="{{ path('WodaFSBundle.Default.star', {"id": 0 }) }}"><i class="w-icon w-icon-hover w-icon-starred-empty"></i></a>
          <a href="#"><i class="w-icon w-icon-hover w-icon-left movelink" data-id=""></i></a>
          <a href="#"><i class="w-icon w-icon-hover w-icon-trash dellink" data-name="" data-id=""></i></a>
        </td>
        <td class="filedate nohover"></td>
    </tr>

      {% for file in files %}
        <tr class="filetr" id="file-{{file.id}}">
          <td>
              <i class="w-icon w-icon-file"></i> <span class="filename">{{ file.name }}</span>
          </td>
          <td class="file-icons filehover" >
            <a href="{{ path('WodaFSBundle.Default.download', {"id": file.id}) }}" class="dllink"><i class="w-icon w-icon-hover w-icon-download download"></i></a>
            <a href="{{ path('WodaFSBundle.Default.public', {"id": file.id}) }}"><i class="w-icon w-icon-hover w-icon-sharing"></i></a>
            <a href="#modal-dlink"><i class="w-icon w-icon-hover w-icon-shared share-dlink"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-friends"></i></a>
            <a href="{{ path('WodaFSBundle.Default.star', {"id": file.id}) }}"><i class="w-icon w-icon-hover w-icon-starred-empty"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-left movelink" data-id="{{ file.id }}"></i></a>
            <a href="#"><i class="w-icon w-icon-hover w-icon-trash dellink" data-name="{{ file.name }}" data-id="{{ file.id }}"></i></a>
          </td>
          <td class="filedate nohover">{{ file.lastModificationTime|date('d/m/Y H:i') }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

  <div id="modal-moveto" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3>Move to</h3>
      </div>
      <div class="modal-body">
          <div class="alert alert-error moveto-error hide" id="moveto-errorsame">
              Cannot move this entity : Destination is source.
          </div>
          <div class="alert alert-error moveto-error hide" id="moveto-errorchild">
              Cannot move this folder : Destination is source child.
          </div>
          <p>Please select the destination path for the entity :</p>
          <select id="moveto-target">
              {% for path in paths %}
                  <option>{{ path }}</option>
              {% endfor %}
          </select>
      </div>
      <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button id="post-moveto" class="btn btn-primary">Move</button>
      </div>
  </div>

  <div id="modal-newfolder" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Create new folder :</h3>
    </div>
    <div class="modal-body">
      <div class="alert alert-error newfolder-error hide" id="newfolder-errorexists">
        Cannot create this folder : Folder already exists.
      </div>
      <div class="alert alert-error newfolder-error hide" id="newfolder-forbidden">
        Cannot create this folder : The folder's name contains forbidden characters (/).
      </div>
      <div class="alert alert-error newfolder-error hide" id="newfolder-errorempty">
        You must enter a folder name.
      </div>
      <p>Please enter a name for the new folder :</p>
      <input type="text" name="foldername" id="newfoldername-input" />
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button id="post-newfolder" class="btn btn-primary">Create</button>
    </div>
  </div>

<!-- Upload modal view -->

  <div id="modal-upload" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Upload Files</h3>
    </div>
    <div class="modal-body">


    <div id="upload-startinfo" class="hero-unit">
      <h3 style="color:#4d4d4d">Drag'n'drop</h3>
    </div>

    <div id="upload-addbutton">
          <span class="btn btn-primary fileinput-button" style="float:none">
            <i class="icon-plus icon-white"></i>
            <span>Add files...</span>
            <input id="fileupload" name="files" type="file" name="files[]" data-url="{{ path('WodaFSBundle.Default.upload') }}" multiple>
          </span>
    </div>
    <div style="clear:both"></div>

    <table role="presentation" class="table table-striped" style="margin-top:20px; margin-bottom:0px">
      <tbody id="uploadlist" class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
        <tr class="template-upload fade in hidden">
          <td class="name"><span></span></td>
          <td class="size"><span></span></td>

          <td>
           <div class="progress progress-primary progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar progress-status" style="width:0%;"></div></div>
          </td>

          <td>
              <button class="btn btn-danger cancel">
                  <i class="icon-ban-circle icon-white"></i>
                  <span>Cancel</span>
              </button>
          </td>
        </tr>
    </tbody>
    </table>

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

  <div id="modal-delete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Delete <span class="delete-type">file</span></h3>
    </div>
    <div class="modal-body">
    You are deleting <span class="delete-type">file</span> : <span style="font-size:14px;font-weight:bold;" id="delete-name"></span>.<br />
    Are you sure ?

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Exit</button> <button class="btn btn-danger" data-id="" id="delete-valid">Continue</button>
    </div>
  </div>

  <div id="modal-dlink" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Get download link</h3>
    </div>
    <div class="modal-body">
      <div id="dlink-loading">
      Please wait..
      </div>
      <div id="dlink" style="display:none">
        <a href=""
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Exit</button>
    </div>
  </div>

{% endblock %}
