{% extends 'WodaUIBundle::layout.html.twig' %}

{% block content %}

{% stylesheets '@WodaSearchBundle/Resources/public/css/search.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% javascripts '@WodaSearchBundle/Resources/public/js/InfiniteScrollbar.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<h2>Résultat de votre recherche: "<span id="query">{{ query }}</span>"</h2>

<div class="tabbable tabs-left">
    <ul id="typeofquery" class="nav nav-tabs">
        <li class="files {{ displayed == 'files' ? 'active' : '' }}" >
            <a href="#file" data-toggle="tab">Fichiers: <span class="counter">{{ files | length }}</span></a>
        </li>
        <li class="users {{ displayed == 'users' ? 'active' : '' }}" >
            <a href="#user" data-toggle="tab">Utilisateurs: <span class="counter">{{ users | length }}</span></a>
        </li>
    </ul>
    <div id="results" class="tab-content">
        <div class="tab-pane {{ displayed == 'files' ? 'active' : '' }}" id="file">
            {% for file in files %}
                <div><a href="#">{{ file.name }}</a></div>
            {% endfor %}
        </div>
        <div class="tab-pane {{ displayed == 'users' ? 'active' : '' }}" id="user">
            {% for user in users %}
                <div><a href="#">{{ user.name }}</a></div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
