{% extends 'WodaUIBundle::layout.html.twig' %}

{% block title %}{{ query }} | Search result | {% endblock %}

{% block content %}

{% stylesheets 'bundles/wodasearch/css/search.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% javascripts '@WodaSearchBundle/Resources/public/js/InfiniteScrollbar.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<h2 style="text-align:right">Search Result : "<span id="query">{{ query }}</span>"</h2>

<div class="tabbable tabs-left">
    <div id="results" class="tab-content">
        {% for t in types %}
            <div class="tab-pane{% if (type == t) %} active {% endif %}" id="_{{ t }}_" style="min-height:1px"></div>
        {% endfor %}
    </div>
</div>

<div id="modal-dlink" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Get download link</h3>
  </div>
  <div class="modal-body">
    <div id="dlink-loading">
    Please wait..
    </div>
    <div id="dlink" style="display:none">
      <a href="">&nbsp;</a>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Exit</button>
  </div>
</div>

<div id="modal-download" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Download</h3>
  </div>
  <div class="modal-body">
    <div id="downloading-loading">
    Please wait..
    </div>
    <div id="downloading" style="display:none;text-align:center;"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Exit</button>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        function initScrollbar(selector, type, length, offset, counter, template, text, onParams) {
            var baseUrl = '{{ app.request.baseUrl }}';

            return (new InfiniteScrollbar($(selector), {
                autoload: true,
                progress: 90,
                url: baseUrl + '/search/result/' + type + '/{length}/{offset}',
                length: length,
                offset: offset,
                extraParams: {
                    query: $('#query')[0].innerHTML
                },
                counter: $(counter),
                template: template,
                text: text,
                onParams: onParams
            }));
        }

        function getTemplateFile(classCss) {
            return ({
                root : '<table class="table flist"><thead><tr><th colspan="2">Files</th><th>Owners</th><th>Modified</th><th></th></tr></thead><tbody class="loop"></tbody></table>',
                loop: '<tr class="foldertr" id="file-{id}">' +
                        '<td colspan="2"><i class="search-icon ' + classCss + '"></i> <a class="folderlink" href="#">{link}</a></td>' +
                        '<td class="_hover_"><a href="#">{owner}</a></td>' +
                        '<td colspan="5" class="file-icons _hover_" style="display:none;padding-left:20px;">' +
                            '<a href="#modal-download"><i class="search-icon search-icon-hover search-icon-download download"></i></a>' + 
                            '<a href="#"><i class="search-icon search-icon-hover search-icon-sharing"></i></a>' +
                            '<a href="#modal-dlink"><i class="search-icon search-icon-hover search-icon-shared share-dlink"></i></a>' + 
                            '<a href="#"><i class="search-icon search-icon-hover search-icon-starred"></i></a>' +
                        '</td>' +
                        '<td class="_nohover_">{owner}</td>' +
                        '<td class="_nohover_">{date}</td>' +
                      '</tr>'
            });
        }

        var aScrollbar = [],
            eventsParam = {
                events: {
                    mouseenter: function() {
                        that = $(this);
                        that.find('._nohover_').hide();
                        that.find('._hover_').show();
                    },
                    mouseleave: function() {
                        that = $(this);
                        that.find('._nohover_').show();
                        that.find('._hover_').hide();
                    }
                }, selector: '.foldertr'
            },
            userTemplate = {
                root : '<table class="table flist"><thead><tr><th colspan="2">Username</th></tr></thead><tbody class="loop"></tbody></table>',
                loop: '<tr><td colspan="2"><i class="icon-user"></i><a href="#">{link}</a></td></tr>'
            },
            text = {
                error: '<div class="row" style="padding-top:100px"><div class="span3 offset4" style="overflow:hidden"><img src="{{ asset('bundles/wodaui/img/icons/sad-128.png') }}" alt="no result" width="128px" height="128px" /><div class="notfound">No result found !</div></div>'
            };

        aScrollbar.push(initScrollbar('div#results div.tab-pane#_private_file_', 'private_file', {{ length }}, {{ offset }}, 'ul#typeofquery li.private_files span.counter', getTemplateFile('search-icon-file'), text, eventsParam));
        aScrollbar.push(initScrollbar('div#results div.tab-pane#_file_', 'file', {{ length }}, {{ offset }}, 'ul#typeofquery li.files span.counter', getTemplateFile('search-icon-file'), text, eventsParam));
        aScrollbar.push(initScrollbar('div#results div.tab-pane#_folder_', 'folder', {{ length }}, {{ offset }}, 'ul#typeofquery li.folders span.counter', getTemplateFile('search-icon-folder'), text, eventsParam));
        aScrollbar.push(initScrollbar('div#results div.tab-pane#_movie_', 'movie', {{ length }}, {{ offset }}, 'ul#typeofquery li.movies span.counter', getTemplateFile('search-icon-movie'), text, eventsParam));
        aScrollbar.push(initScrollbar('div#results div.tab-pane#_music_', 'music', {{ length }}, {{ offset }}, 'ul#typeofquery li.musics span.counter', getTemplateFile('search-icon-music'), text, eventsParam));
        aScrollbar.push(initScrollbar('div#results div.tab-pane#_picture_', 'picture', {{ length }}, {{ offset }}, 'ul#typeofquery li.pictures span.counter', getTemplateFile('search-icon-picture'), text, eventsParam));
        aScrollbar.push(initScrollbar('div#results div.tab-pane#_user_', 'user', {{ length }}, {{ offset }}, 'ul#typeofquery li.users span.counter', userTemplate, text));

        // function used to get shared link
        $('.flist').on('click', '.share-dlink', function() {
            $('#modal-dlink').modal('show');
            var id = $(this).parent().parent().parent().attr('id').substr(5);
            var url = '{{ path('WodaFSBundle.Default.dLink', {"id": ''}) }}/' + id;

            console.log(url);
            $.getJSON(url, function(data) {
                $('#dlink-loading').hide();
                var link = '{{ url('WodaFSBundle.Default.publicdl', {"id": ''}) }}/' + data.id;
                $('#dlink').html('<input type="text" value="'+link+'" style="width:80%;"/>').show();
            });
        });

        // function used to get download link
        $('.flist').on('click', '.download', function() {
            $('#modal-download').modal('show');
            var id = $(this).parent().parent().parent().attr('id').substr(5);
            var url = '{% render 'WodaSearchBundle:Helper:getDownloadLinks' %}';

            url = url.replace('{id}', id);
            $('#downloading-loading').hide();
            $('#downloading').html('<a href="' + url + '" class="center">Click Here.</a>').show();
        });

        for (var i = 0, length = aScrollbar.length ; i < length ; i++) {
            aScrollbar[i].begin();
        }

        $('body').bind('mousewheel', function(e) {
            for (var i = 0, length = aScrollbar.length ; i < length ; ++i) {
                if (aScrollbar[i].content.hasClass('active')) {
                    aScrollbar[i].scroll(0, e.originalEvent.wheelDeltaY);
                    return ;
                }
            }
        });
    });
</script>

{% endblock %}

{% block leftpannel %}
    <div class="menu-separator">&nbsp;</div>
    <ul id="typeofquery" class="nav nav-tabs nav-pills nav-stacked">
        <li class="search_title">
            <img src="{{ asset('bundles/wodaui/img/icons/result-32.png') }}" alt="result" width="17px" height="17px" />
            <span>Results</span>
        </li>
        <li class="private_files{% if (type == 'private_file') %} active {% endif %}">
            <a href="#_private_file_" data-toggle="tab">
                <img src="{{ asset('bundles/wodaui/img/icons/my_file-32.png') }}" alt="my files" width="16px" height="16px" />
                <span>My files</span>
                <span class="counter">{% if (type == 'private_file') %} {{ count }} {% else %} 0 {% endif %}</span>
            </a>
        </li>
        <li class="files{% if (type == 'file') %} active {% endif %}">
            <a href="#_file_" data-toggle="tab">
                <img src="{{ asset('bundles/wodaui/img/icons/file-32.png') }}" alt="document" width="16px" height="16px" />
                <span>Files</span>
                <span class="counter">{% if (type == 'file') %} {{ count }} {% else %} 0 {% endif %}</span>
            </a>
        </li>
        <li class="folders{% if (type == 'folder') %} active {% endif %}">
            <a href="#_folder_" data-toggle="tab">
                <img src="{{ asset('bundles/wodaui/img/icons/folder-32.png') }}" alt="folder" width="16px" height="16px" />
                <span>Folders</span>
                <span class="counter">{% if (type == 'folder') %} {{ count }} {% else %} 0 {% endif %}</span>
            </a>
        </li>
        <li class="movies{% if (type == 'movie') %} active {% endif %}">
            <a href="#_movie_" data-toggle="tab">
                <img src="{{ asset('bundles/wodaui/img/icons/movie-32.png') }}" alt="movie" width="16px" height="16px" />
                <span>Movies</span>
                <span class="counter">{% if (type == 'movie') %} {{ count }} {% else %} 0 {% endif %}</span>
            </a>
        </li>
        <li class="musics{% if (type == 'music') %} active {% endif %}">
            <a href="#_music_" data-toggle="tab">
                <img src="{{ asset('bundles/wodaui/img/icons/music-32.png') }}" alt="music" width="16px" height="16px" />
                <span>Musics</span>
                <span class="counter">{% if (type == 'music') %} {{ count }} {% else %} 0 {% endif %}</span>
            </a>
        </li>
        <li class="pictures{% if (type == 'picture') %} active {% endif %} underline">
            <a href="#_picture_" data-toggle="tab">
                <img src="{{ asset('bundles/wodaui/img/icons/picture-32.png') }}" alt="picture" width="16px" height="16px" />
                <span>Pictures</span>
                <span class="counter">{% if (type == 'picture') %} {{ count }} {% else %} 0 {% endif %}</span>
            </a>
        </li>
        <li class="users{% if (type == 'user') %} active {% endif %}">
            <a href="#_user_" data-toggle="tab">
                <img src="{{ asset('bundles/wodaui/img/icons/friends-32.png') }}" alt="user" width="16px" height="16px" />
                <span>Users</span>
                <span class="counter">{% if (type == 'user') %} {{ count }} {% else %} 0 {% endif %}</span>
            </a>
        </li>
    </ul>
{% endblock %}