{% extends "WodaUIBundle::signin_layout.html.twig" %}

{% block content %}

    {% if error %}
        <div>
            {{ error }}
        </div>
    {% endif %}

    <form action="{{ path('WodaUserBundle.Security.check') }}" method="post" id="form">
        <fieldset>
            <legend style="border-bottom-width:0px; margin-bottom:4px">Sign in</legend>
            <div>
			<p class="legend">E-mail or Username</p>
	        <input type="text" id="username" class="input-large" name="_username" value="{{ last_username }}" placeholder="{{ 'userbundle.security.accountname' | trans({}, 'woda') }}" />
            </div>

            <div>
			<p class="legend">Password</p>
	        <input type="password" id="password" class="input-large" name="_password" placeholder="{{ 'userbundle.security.password' | trans({}, 'woda') }}" />
            </div>

            <div>
<!--
	        <input id="_checkbox" type="checkbox" style="display:none"/> {{ 'userbundle.security.rememberme' | trans({}, 'woda') }}
-->
            </div>
  

			<div style="float:left;width:120px">
            	<button type="submit" id="_submit" name="_submit" class="btn btn-primary">
	        	{{ 'userbundle.security.login' | trans({}, 'woda') }}
            	</button>
            </div>
			<div style="font-size: 11px;">
				<div><i><a href="{{ path('WodaUserBundle.Security.forgotpassword') }}">mot de passe oublié ?</a></i></div>
            	<div><i><a href="{{ path('WodaUserBundle.Security.forgotaccount') }}">nom de compte oublié ?</a></i></div>
            </div>
            <!-- This is dev. -->
			</fieldset>
    </form>

{% endblock %}
